@using Get_Movies.Models
@model List<Get_Movies.Models.Playlist>

<style>.inline{display:inline-block}</style>
<!-- Regular Input -->
@foreach (Playlist item in Model)
{
    using (Html.BeginForm("playlists", "Premium", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form inline" }))
    {
        <a class="list-group-item" href="javascript:void(0);">Title :@item.Title <br /></a>
        <input name="id" hidden value="@item.Id" style="display:none" />
        <div style="display:inline-block;margin:10px">
            <button type="submit" class="btn btn-primary" value="Delete Playlist" name="submit"> Delete Playlist </button>
        </div>
    }
        <div style="display:inline-block;margin:10px">
            <button data-target="@("#showPlaylistMovies"+item.Id)" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Show Movies</button>
            <div tabindex="-1" class="modal fade" id="@("showPlaylistMovies"+item.Id)" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header pmd-modal-bordered">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h2 class="pmd-card-title-text">@item.Title Movies</h2>
                        </div>
                        <div class="pmd-modal-list">
                            <ul class="list-group pmd-list">
                                @{
                                    List<PlaylistMovie> PlaylistMovies = new PlaylistMovie() { Playlist_Id = item.Id }.Search(true, true).ToList();
                                    List<Movie> MoviesInCurrentPlaylist = PlaylistMovies.Select(pm => pm.Movie).ToList();
                                }
                                @foreach (Movie movie in MoviesInCurrentPlaylist)
                                {
                                    <li class="list-group-item">
                                        <div class="pmd-card pmd-card-default pmd-z-depth">
                                            <div class="pmd-card-body">
                                                <!-- Card media -->
                                                <div class="media-body">
                                                    <a href="@Url.Action("ViewMovie","Movies",new { imdbId = movie.Imdb_Id})" title="@movie.Title">
                                                        <img width="330" height="228" src="@movie.Poster">
                                                    </a>
                                                </div>
                                                <!-- Card media actions -->
                                                <div class="media-right">
                                                    <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button" onclick="window.location.href='@Url.Action("ViewMovie","Movies",new { imdbId = movie.Imdb_Id})'"><i style="color:#000" class="material-icons pmd-sm">play_arrow</i></button>
                                                    @using (Html.BeginForm("DeleteMovieFromPlaylist", "Premium", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form" }))
                                                    {
                                                        <input hidden name="Playlist_Id" value="@item.Id">
                                                        <input hidden name="Movie_Id" value="@movie.Id">
                                                        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="submit"><i style="color:#F00" class="material-icons pmd-sm">delete</i></button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
}


