@using System.Web.Optimization
@{
    ViewBag.Title = "home";
}

@Styles.Render("~/Bundles/css/components/textfield")
@Styles.Render("~/Bundles/css/components/radio")
@Styles.Render("~/Bundles/css/components/select2")
@Styles.Render("~/Bundles/css/components/select2")
@Styles.Render("~/Bundles/css/components/button")
@Styles.Render("~/Bundles/css/components/card")
@Styles.Render("~/Bundles/css/components/custom-scrollbar")

<div id="MoviesContainer" style="display: table;margin:0px auto;">
    <div class="pmd-card pmd-card-default pmd-z-depth" style="width:19%;margin:30px .5%;display:inline-block;">
        <div id="metadata" style="display: table;width: 100%">
            <button style="width:25%;display: inline-block;" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default" data-toggle="tooltip" data-placement="top" title="Action"><i class="material-icons md-dark pmd-sm">local_movies</i></button>
            <button style="width:25%;display: inline-block" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default" data-toggle="tooltip" data-placement="top" title="2000"><i class="material-icons md-dark pmd-sm">remove_red_eye</i></button>
            <button style="width:25%;display: inline-block;" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default" data-toggle="tooltip" data-placement="top" title="4"><i class="material-icons md-dark pmd-sm">star</i></button>
            <button style="width:25%;display: inline-block;" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default" data-toggle="tooltip" data-placement="top" title="123 min"><i class="material-icons md-dark pmd-sm">timelapse</i></button>

        </div>
        <div class="pmd-card-title" style="padding:2px 10px">
            <div class="media-body media-middle">
                <h2 class="pmd-card-title-text">Movie Title</h2>
                <span class="pmd-card-subtitle-text">Director</span>
            </div>
        </div>
        <!-- Card media -->
        <div class="pmd-card-media" style="overflow: hidden">
            <img width="100%"
                 onMouseOver="this.style.cssText = 'transition: all 1s ease-in-out;transform:scale(1.1);';"
                 onMouseOut="this.style.cssText = 'transition: all 1s ease-in-out;transform:scale(1);';"
                 class="img-responsive"
                 src="https://upload.wikimedia.org/wikipedia/en/4/41/Red_ver7.jpg">
        </div>

        <!-- Card body -->
        <div class=" pmd-card-body pmd-scrollbar mCustomScrollbar" data-mcs-theme="minimal-dark" style="overflow-y: scroll;height:200px;overflow: hidden;border-bottom:1px solid #000;margin: 0">
            <p style="padding:10px">Frank Moses (Willis), retired black-ops CIA agent, lives alone in Cleveland, Ohio. Lonely, Frank creates opportunities to talk to Sarah Ross (Parker), a worker at the General Services Administration's pension office in Kansas City, Missouri, by tearing up his pension checks and calling to say they haven't arrived.One night, an assassination squad raids Frank's house and attempts to kill him but he easily wipes them out. Knowing they will have tapped his phone, he believes Sarah will be targeted. In Kansas City Sarah refuses to go with him so he kidnaps her. Meanwhile CIA agent William Cooper (Urban) is assigned by his boss Cynthia Wilkes (Pidgeon) to hunt down and kill Frank.To find out who is targeting him Frank tracks down his old associates for help. He goes to New Orleans, Louisiana, and visits his CIA mentor Joe Matheson (Freeman), who tells him the same hit squad murdered a New York Times reporter. An agent posing as a police officer tries to abduct Sarah but Frank returns in time. Cooper chases them but Frank tricks the police into arresting Cooper and escapes with Sarah. The two head to New York City and find clues left by the reporter which lead them to a hit list.They find Marvin Boggs (Malkovich), another old associate and a paranoid conspiracy theorist, who tells them the people on the list, including Frank and Marvin, are connected to a secret 1981 mission in Guatemala. A pilot on the list, Gabriel Singer (Remar), tells them the mission involved extracting a person from a Guatemalan village. Singer is shot by a helicopter-borne machine-gunner and the team escapes as Cooper closes in.Ex-Russian secret agent Ivan Simanov (Cox), in return for a favor, helps Frank infiltrate the CIA headquarters archive. Henry the records keeper (Borgnine) has much respect for Frank and simply hands him the Guatemala file. Frank confronts Cooper in his office and the two fight. Frank is wounded, and Joe arrives to help extract the team. They hide out in the home of former wetwork agent Victoria Winslow (Mirren), who treats Frank's wound and joins the team.The file leads them to Alexander Dunning (Dreyfuss), an arms trafficker. Joe poses as a buyer and enters Dunning's mansion with Frank and Marvin while Victoria and Sarah keep watch outside. They interrogate Dunning, who tells them the target for extraction was Lieutenant Robert Stanton (McMahon), whose Senator father organised the extraction via Dunning. Stanton is now Vice President and has ordered the assassination of people involved in the mission to hide the fact that he massacred village civilians.The FBI surround Dunning's mansion. Cooper tries to negotiate Frank's surrender, and Frank tells him about the Vice President's treachery. The terminally ill Joe pretends to be Frank, walks outside, and is killed by the Vice President's bodyguard squad. The confusion, as well as Victoria's cover fire, buys the team time to leave the mansion but Sarah is captured. Frank calls Cooper from Cooper's own family's home phone and warns him against harming Sarah.The team kidnaps Stanton to trade for Sarah. Dunning arrives at the meeting point. Dunning injures Stanton, revealing himself and Wilkes to be behind the assassinations and that Stanton was never involved. Disgusted with Wilkes' corruption, Cooper pretends to arrest Frank but instead shoots Wilkes. Marvin and Victoria kill Dunning's bodyguards, and Frank crushes Dunning's windpipe. Cooper lets Frank's team go. As they leave, Sarah is eager to accompany Frank on a new mission.Ivan reminds Frank of his favor. A few months later, Frank and Marvin are fleeing Moldovan troops with a stolen nuclear device, with Marvin wearing a dress in a wooden wheelbarrow being pushed by Frank.</p>
        </div>

        <!-- Card actions -->
        <div class="pmd-card-actions" style="padding: 10px">
            <div style="float: left">
                <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default" data-toggle="tooltip" data-placement="bottom" title="Watch"><i class="material-icons md-dark pmd-lg">play_circle_outline</i></button>
            </div>
            <div style="float: right;">
                <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default" data-toggle="tooltip" data-placement="bottom" title="Add To Playlist"><i class="material-icons md-dark pmd-lg">playlist_add</i></button>
            </div>
        </div>
    </div>
</div>

<ul class="pagination justify-content-center pagination-lg" style="display:table;margin: 0 auto">
    <li class="page-item active"><a class="page-link" href="#">«</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">6</a></li>
    <li class="page-item"><a class="page-link" href="#">»</a></li>
</ul><br>

@Scripts.Render("~/Bundles/js/components/textfield")
@Scripts.Render("~/Bundles/js/components/radio")
@Scripts.Render("~/Bundles/js/components/select2")
@Scripts.Render("~/Bundles/js/components/button")
@Scripts.Render("~/Bundles/js/components/card")
@Scripts.Render("~/Bundles/js/components/custom-scrollbar")
