@using System.Web.Optimization
@using Get_Movies.Models
@model Get_Movies.Models.User
@{
    Layout = null;

}
<h1>@Model.First_Name</h1>
<h1>@Model.Last_Name</h1>
<h1>@Model.Email</h1>
<h1>@Model.Id</h1>
<h1>@Model.Verified</h1>
<h1>@Model.Password</h1>
<h1>@Model.Profile_Picture</h1>
